manifest {
	name = 'ECPC'
	author = 'Guillermo A.R. Piccoli'
	homePage = 'https://www.epicsolutions.cl'
	description = 'Simple Adaptor for HPC bioinformatics'
	version = '1.0.0'
}

executor{
    jobName = { "$task.tag" }
}

singularity {
	enabled = true
	autoMounts = true
	cacheDir = "work/singularity"
}

params {
	//arguments
	a = ""

	//output directory
    o = "output"

    //output files
    o_f = "*"

	//max memory 2G per processor
	m = "1.GB"
	//max cpus
	p = "2"

    //container
    c = ""

	//executor
	e = "local"

	//queue name
	q = "quicktest"

	//max time
	t = "1h"
}